.OddProject{
    display: flex; align-items: flex-start;
}

.projectImg{
     width:100%; border-radius: 10% 10% 0px 0px;
     height: auto;
     display: block;
     margin: 0 auto;
}

.textArea{
    border-radius: 10% 10% 0px 0px;
}

.projectText{
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
}

.Partition{
    text-decoration:none;
}

.Content{
    display: flex;
}

#GameJams{
    
    width: 50%; /* o un valor específico */
    padding-right: 2%;
   
    border-right:  2px solid black;
}

#PersonalProjects {
    
    width: 50%; /* o un valor específico */
    margin-left: 2%;
    padding: 0;
}